.blog-card{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.1);
    border: 1px solid  rgba(0 , 0, 0, 0.1);
    text-decoration: none;
    color: black;
}
.blog-card:hover{
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.3);
}
.blog-title{
  font-size: 20px;
}
.blog-content-preview{
    font-size: 14px;
}
.author-card{
    display: flex;
    align-items: center;
    margin: 10px 5px;
}
.author-avtar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.author-name{
    font-size: 12px;
    font-style: italic;
    margin-left: 10px;
}
.blog-date{
    font-size: 12px;
    font-style: italic;
    margin-left: 20px;
}
.category-badge{
    background-color: black;
    color: white;
    padding: 2px 10px;
    margin: 5px;
    font-size: 10px;
    border-radius: 20px;
}