.BlogView-cards{
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin: 4% 30%;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0 , 0, 0, 0.3);
}
.BlogView-author-details{
    margin-bottom: 20px;
}
.BlogView-avtar{
    border-radius: 50%;
    margin-top: 10px;
}
